

html {
 background-color: #fff;
 font-size: 17px;
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 color: rgb(58 58 58);

}

mark {
  /*background-color: rgb(44,43,60);*/
}



h1, h2, h3 {
  font-family: 'Karla', sans-serif;
}


body {
  margin: 0

}
section {

 margin: 3rem 32px;
}


/*-- Header --*/

header {

}


/*-- Navigation & Branding */

nav {
  width: 100%;
  height: 64px;
  background-color: rgb(44,43,60);
  padding-left: 24px;
  padding-right: 24px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  color: rgb(224,224,206);
}

.logo.title {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: bold;
    color: rgb(224,224,206);
    text-decoration: none;
}

.logo.title img {

}

svg {
fill: white;
}

.logo.title p {
 text-transform: uppercase;
   font-size: 2.2rem;
}

.logo.title span {
 font-weight: lighter;
 letter-spacing: -2px;
 color: rgb(236,78,32);
}


ul.menu {
    display: flex;
    list-style-type: none;
    width: 100%;
    padding: 24px;
    justify-content: flex-end;
    align-items: center;
}

ul.menu li  {
margin-right: 25px;
}


.menu li a, .footlinks a  {
  text-decoration: none;
  color: rgba(224,224,206);
  font-size: 0.85rem;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 600ms linear;
}

.menu li a:hover, .footlinks a:hover {
  font-size: 1.1rem;
  font-weight: bold;
}

.menu li:last-child {
  background-color: rgba(236,78,32);
  padding: 0.75rem;
  border-radius: 1px;
  font-weight: bold;
}
.menu li:last-child a:hover {
  font-weight: bolder;
  font-size: 1.2em;
  padding: 0.9rem 1.3rem;
  transition: all 600ms linear 0.75ms;
}


/* Splash Image and Text */

.splash {
	max-width: 100%;
	margin: 3.8rem auto;
  display: flex;
  justify-content: flex-start;
	flex-wrap: wrap;
  align-items: center;
  background-color: rgb(64,63,76);
	overflow: hidden;
  color: white;
}

.splash img {
  width: 65%;
	display: block;
}


.splash div {
  width: 35%;
  height: auto;
  text-align: center;

}

h1 {
  font-size: 3.7rem;
  margin-top: 0;
  padding: 20px;
color: rgb(224,224,206);
}


/*h1 span {
  font-size: 2.7rem;
  background-color: rgb(44,43,60);
  color: white;*/
}

.splash h1  {
  font-size: 3.7rem;

}

.splash p {
  font-size: 1rem;
  font-weight: 200;
  width: 70%;
  margin: 10px auto;
}


button {
  padding: 20px 40px;
    font-size: 1.3em;
    margin: 0 auto;
    background-color: rgb(236,78,32);
    border: 1px solid rgb(236,78,32);
    text-transform: uppercase;
    transition: all 600ms linear;

}

button:hover {
  background-color: rgba(236,78,32, 0.7);
  border: 1px solid rgba(236,78,32,0.7);
  font-size: 1.5em;
  font-weight: bold;
}

button a {
  text-decoration: none;
  /*text-align: center;*/
  color: rgb(224,224,206);

}



/* Keep Practising */

.academyinfo {
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
}

.academyinfo h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -2px;
}

.practise {
  width: 60%;
  overflow: hidden;
}

.practise img {
  width: 100%;
  height: auto;
  display: block;


}
.practise p {
  font-weight: 200;
  font-size: 0.9rem;

}

p.quotename {
  font-weight: bold;
  font-style: italic;
  font-size: 0.85rem;
  text-align: center;
}

/*-- Information --*/
.info {
  width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.info_item {
  width: 90%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  /* padding: 10px; */
  margin-bottom: 10px;
  padding: 1.3rem;
  transition: background-color 750ms linear;
}

.info_item:hover {
  background-color: rgb(64,63,76);
  color: rgb(224,224,206);
}

.info_item h3 {
  text-transform: uppercase;
}

.info_item button {
  padding: 5px;
  font-size: 0.75rem;
  transition: all 400ms linear 50ms;
}

.info_item button:hover {
  background-color: rgba(236,78,32, 0.5);
  border: 1px solid rgba(236,78,32, 0.1);
}


.info_item img {
  width: 30%;
  height: auto;
  display: block;

}

.info_item div {
  width: 70%;
  margin-left: 10px;

}


.info_item p {
  width: 100%;
  font-size: 0.75em;
  padding: 10px;
}

.info_item button {

}




/*-- Start Learning Courses --*/
#fullwidth {
 background-color:  rgba(224,224,206, 0.5);
 margin: 0;
}

#courses {
  width: 100%;
  /*padding: 10px 0 10px 0;*/
}
 #courses h2 {
	 font-size: 2.5em;
   letter-spacing: -2px;
   text-align: center;
   font-weight: bold;
	color: white;
	padding: 32px
}

.learning {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}




.learning a {
width: 30%;
margin: 10px;
height: auto;
overflow: hidden;
text-decoration: none;
font-size: 0.75em;
background-color: white;
color: rgb(58 58 58);
transition: all .60s linear;
border-radius: 2px;


}

.learning a:hover {
	background-color: rgb(44,43,60);
	color: rgb(224,224,206);
	font-weight: bold;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);


}

.learning a img {
    max-width: 100%;
    height: auto;
    display: block;
}

.course_info p {
  padding: 10px;
  font-weight: 200;
  font-size: 0.80rem;
}




.course_info p span {
  color: white;
    background-color: #ec4e20;
    padding: 5px;
    font-size: 0.7rem;
}



.learning a h3 {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}




/*-- Thesis Exhibit --*/

#thesis_exhibit {
  margin: 0.75rem;

}

#thesis_exhibit h2 {
	font-size: 2.5em;
  letter-spacing: -2px;
  text-align: center;
  font-weight: bold;
	padding: 32px;
}

.thesis {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.promovid {
  width: 60%;
  height: auto;
  overflow: hidden;
}

.promovid h3 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -2px;
}

.promovid p {
	font-weight: 200;
    font-size: 0.9rem;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
}



.exhibit_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  width: 30%;
}



.exhibit_info_item {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
	transition: all 600ms linear;

}

.exhibit_info_item:hover {
	background-color: rgb(64,63,76);
  color: rgb(224,224,206);
}

.exhibit_info_item h3 {
	text-transform: uppercase;
	font-size: 1rem;
	margin-bottom: 20px;
	font-weight: bold;
}

.exhibit_info_item img {
  height: auto;
  width: 35%;
  display: block;
  padding: 16px;
}

.exhibit_info_item div {
  width: 65%;
}

/* Footer */
footer {
  padding: 24px;
  background-color: rgb(44,43,60);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: rgb(224,224,206);
  font-size: 0.85rem;
  font-weight: 200;
}

.footlinks ul {
   list-style-type: none;
}

.footlinks ul li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/*---- Media Queries --- */

@media only screen and (max-width: 767px) {
    /* ruleset for 320px - 480px */


		/*-- Navigation & Branding --*/
		.mobile_menu {
			display: flex;
			list-style-type: none;
			width: 100%;
			margin-right: 20px;
			justify-content: space-around;
			align-items: center;
		}


nav {
	height: 64px;
}

.logo.title p{
	display: none;
	font-size: 1rem;

}

ul.menu li {
	display: none;
}

	header {
		width: 100%
	}

	section {
		margin: 0;
	}

/* !-- Splash Image and Text --*/
	.splash {
    display: block;
		width: 100%;

	}

	.splash img {
	  width: 100%;
		height: auto;
	}


	.splash div {
	  width: 100%;
	  height: auto;
	  text-align: center;

	}

	/*-- Keep Practising --*/

section.academyinfo {
	width: 100%;
	margin:0 auto;

  }

.practise {
	display: none;
}

.info {
	width: 100%;
}


.info_item {
 width: 100%;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 /* padding: 10px; */
 margin-bottom: 0.75rem;
 padding: 0;
}

.info_item p {
  width: 100%;
  font-size: 0.75em;
}

img.desktop_img {
	display: none;
}

img.mobile {
	width: 100%;
	height: auto;

}

/* Learning */

.learning {
width: 100%;

}

.learning a {
width: 100%;

}



/* Thesis Exhibit */
#thesis_exhibit {
	width: 100%;
	margin: 0;
}

#thesis_exhibit h2 {
font-size: 1.5em;
letter-spacing: -2px;
text-align: center;
font-weight: bold;
padding: 0;
}

.promovid {
width: 100%;
height: auto;
overflow: hidden;
}

.promovid h3 {
  display: none;
}

.promovid p {
	display: none;
}

.video {
	display: block;
}

.exhibit_info {
	display: none;
}



}


@media only screen and (min-width: 768px) and (max-width: 1024px)  {

	.mobile_menu li {
		display: none;
	}



  ul.menu {
    display: flex;
    list-style-type: none;
    width: 100%;
    /* padding: 24px; */
    justify-content: space-around;
    align-items: center;
}

.logo.title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: bold;
    color: rgb(224,224,206);
    text-decoration: none;
}

/* Splash */
.splash img {

  align-self: flex-start;
}

h1 {
    font-size: 1.1rem;

  }

  h1 span {
      font-size: 1.7rem;
  }

.splash h1 mark {
  font-size: 2.7rem;
}

.splash p {
    font-size: 0.9rem;
    font-weight: 200;
    width: 90%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
}

/*  Information */

.info_item .mobile {
 display: none;
}

.info {
  justify-content: flex-start;
}
.info_item {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 40px 10px;
    align-items: center;
    transition: background-color 750ms linear;
}

.info_item img {
    display: block;
    align-self: flex-start;
}

.info_item h3 {
    font-size: 0.9rem;
    margin: 0;
}

.info_item p {
    width: 100%;
    font-size: 0.75em;
    padding: 0;
    margin: 0;
}

.info_item button {
    padding: 5px 30px;
    font-size: 0.65rem;
    transition: all 400ms linear 50ms;
    margin: 0 auto;
    width: 100%;
    border-radius: 2px;
}

}

@media only screen and (min-width: 1025px) {
  .mobile_menu li {
    display: none;
  }

/* Information */

  .info_item .mobile {
   display: none;
  }
}
